{% extends 'base.html' %}
{% block body %}
{% load static %}

<!-- Inner Heading Start -->
<div class="inner_heading">
  <div class="container">
    <h1>Services</h1>
  </div>
</div>
<!-- Inner Heading End --> 

<!-- Inner Content Start -->
<div class="page_content">
  <div class="container">
    <div class="service-wrap">
      <div class="row service_box">
        <div class="col-lg-4">
          <div class="serviceImg"><img alt="" src="{% static 'images/serviceimg01.png' %}"></div>
          <h3><a href="services_details.html">HairCut <span>Styles</span></a></h3>
        </div>
        <div class="col-lg-4">
          <div class="serviceImg"><img alt="" src="{% static 'images/serviceimg02.png' %}"></div>
          <h3><a href="services_details.html">Perfect <span>Hairstyles</span></a></h3>
        </div>
        <div class="col-lg-4">
          <div class="serviceImg"><img alt="" src="{% static 'images/serviceimg03.jpg' %}"></div>
          <h3><a href="services_details.html">Change <span>Coloring</span></a></h3>
        </div>
        <div class="col-lg-4">
          <div class="serviceImg"><img alt="" src="{% static 'images/serviceimg03.jpg' %}"></div>
          <h3><a href="services_details.html">Change <span>Coloring</span></a></h3>
        </div>
        <div class="col-lg-4">
          <div class="serviceImg"><img alt="" src="{% static 'images/serviceimg01.png' %}"></div>
          <h3><a href="services_details.html">HairCut <span>Styles</span></a></h3>
        </div>
        <div class="col-lg-4">
          <div class="serviceImg"><img alt="" src="{% static 'images/serviceimg02.png' %}"></div>
          <h3><a href="services_details.html">Perfect <span>Hairstyles</span></a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Inner Content End --> 
{% endblock %}