{% extends 'base.html' %}
{% block body %}
{% load static %}

<!-- Inner Heading Start -->
<div class="inner_heading">
  <div class="container">
    <h1>Services</h1>
  </div>
</div>
<!-- Inner Heading End --> 

<!-- Inner Content Start -->
<div class="page_content">
  <div class="container">
    <div class="service-wrap">
      <div class="row service_box">
      
      {% for service in services %}
        <div class="col-lg-4">
          <div class="serviceImg"><img alt="" src="{{ service.services_img.url }}"></div>
          <h3><a href="services_details.html">{{ service.name}}<span>{{ service.description }}</span></a></h3>
        </div>
      {% endfor %}
      
      </div>
    </div>
  </div>
</div>
<!-- Inner Content End --> 
{% endblock %}