{% extends 'base.html' %}
{% block body %}
{% load static %}

<!-- Inner Heading Start -->
<div class="inner_heading">
  <div class="container">
    <h1>Testimonials</h1>
  </div>
</div>
<!-- Inner Heading End --> 

<!-- Inner Content Start -->
<div class="page_content">
  <div class="container">
    <div class="testimonials">
      <ul class="testi_list row">
        <li class="col-lg-6 col-md-6">
          <div class="testimonials_sec">
            <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
            <div class="client_box">
              <div class="clientImg"><img alt="" src="{% static 'images/client1.jpg' %}"></div>
              <h3>Wanda Bates</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, urna eu scelerisque maximus, urna nibh semper lectus, ut interdum nunc ligula et magna. In ac mauris vehicula, vulputate sem at, placerat nisl. Etiam laoreet erat magna, at hendrerit lorem vulputate non. Nam facilisis congue convallis.</p>
          </div>
        </li>
        <li class="col-lg-6 col-md-6">
          <div class="testimonials_sec">
            <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
            <div class="client_box">
              <div class="clientImg"><img alt="" src="{% static 'images/client2.jpg' %}"></div>
              <h3>Wanda Bates</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, urna eu scelerisque maximus, urna nibh semper lectus, ut interdum nunc ligula et magna. In ac mauris vehicula, vulputate sem at, placerat nisl. Etiam laoreet erat magna, at hendrerit lorem vulputate non. Nam facilisis congue convallis.</p>
          </div>
        </li>
        <li class="col-lg-6 col-md-6">
          <div class="testimonials_sec">
            <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
            <div class="client_box">
              <div class="clientImg"><img alt="" src="{% static 'images/client2.jpg' %}"></div>
              <h3>Wanda Bates</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, urna eu scelerisque maximus, urna nibh semper lectus, ut interdum nunc ligula et magna. In ac mauris vehicula, vulputate sem at, placerat nisl. Etiam laoreet erat magna, at hendrerit lorem vulputate non. Nam facilisis congue convallis.</p>
          </div>
        </li>
        <li class="col-lg-6 col-md-6">
          <div class="testimonials_sec">
            <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
            <div class="client_box">
              <div class="clientImg"><img alt="" src="{% static 'images/client1.jpg' %}"></div>
              <h3>Wanda Bates</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, urna eu scelerisque maximus, urna nibh semper lectus, ut interdum nunc ligula et magna. In ac mauris vehicula, vulputate sem at, placerat nisl. Etiam laoreet erat magna, at hendrerit lorem vulputate non. Nam facilisis congue convallis.</p>
          </div>
        </li>
        <li class="col-lg-6 col-md-6">
          <div class="testimonials_sec">
            <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
            <div class="client_box">
              <div class="clientImg"><img alt="" src="{% static 'images/client1.jpg' %}"></div>
              <h3>Wanda Bates</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, urna eu scelerisque maximus, urna nibh semper lectus, ut interdum nunc ligula et magna. In ac mauris vehicula, vulputate sem at, placerat nisl. Etiam laoreet erat magna, at hendrerit lorem vulputate non. Nam facilisis congue convallis.</p>
          </div>
        </li>
        <li class="col-lg-6 col-md-6">
          <div class="testimonials_sec">
            <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
            <div class="client_box">
              <div class="clientImg"><img alt="" src="{% static 'images/client2.jpg' %}"></div>
              <h3>Wanda Bates</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, urna eu scelerisque maximus, urna nibh semper lectus, ut interdum nunc ligula et magna. In ac mauris vehicula, vulputate sem at, placerat nisl. Etiam laoreet erat magna, at hendrerit lorem vulputate non. Nam facilisis congue convallis.</p>
          </div>
        </li>
      </ul>
      <div class="blog-pagination text-center"> <a href="#0"><i class="fas fa-angle-left"></i></a> <a href="#0">01</a> <a href="#0" class="active">02</a> <a href="#0">03</a> <a href="#0"><i class="fas fa-angle-right"></i></a> </div>
    </div>
  </div>
</div>
<!-- Inner Content End -->

{% endblock  %}