{% extends 'base.html' %}
{% block body %}
{% load static %}

<!-- Inner Heading Start -->
<div class="inner_heading">
  <div class="container">
    <h1>Testimonials</h1>
  </div>
</div>
<!-- Inner Heading End --> 

<!-- Inner Content Start -->
<div class="page_content">
  <div class="container">
    <div class="testimonials">
      <ul class="testi_list row">

      {% for testimoinial in testimoinials %}
        <li class="col-lg-6 col-md-6">
          <div class="testimonials_sec">
            <div class="quote_icon"><i class="fas fa-quote-left"></i></div>
            <div class="client_box">
              <div class="clientImg"><img alt="" src="{{ testimoinial.testimoinial_img.url }}"></div>
              <h3>{{ testimoinial.name }}</h3>
            </div>
            <p>{{ testimoinial.description }}</p>
          </div>
        </li>
      {% endfor %}

      </ul>
      <div class="blog-pagination text-center"> <a href="#0"><i class="fas fa-angle-left"></i></a> <a href="#0">01</a> <a href="#0" class="active">02</a> <a href="#0">03</a> <a href="#0"><i class="fas fa-angle-right"></i></a> </div>
    </div>
  </div>
</div>
<!-- Inner Content End -->

{% endblock  %}